%h1
  System Administration

.help
  This section lists the local file system paths that will be used to install
  various objects. The default paths are relative to the server code, and
  should work without problem in most situations.

%h2
  System Paths

%p
  #{system.simulators_path}

%p
  #{system.traces_path}

%p
  #{system.benchmarks_path}

%p
  #{system.jobs_path}

%p
  %a{:href => "/system/new"}
    Edit

.help
  This section moderates account creation and establishes whether or not arbitrary
  people or systems can install objects on the system. If simulators are moderated,
  for instance, somebody can import a simulator object, but only when an adminstrator
  authorizes it via this page will it actually be compiled, installed, and thus available
  to others.

%h2
  Moderation

%form.modal{:action => "/system", :method => :post}
  -# Assure 'false' value is submitted with form
  %input{:type => :hidden, :name => :moderate_simulators, :value => "false"}
  %input{:type => :hidden, :name => :moderate_benchmarks, :value => "false"}
  %input{:type => :hidden, :name => :moderate_accounts, :value => "false"}

  -# Actual content follows
  %label.checkbox{:for => :moderate_simulators}
    %input{:type => :checkbox, :id => :moderate_simulators, :name => :moderate_simulators, :checked => system.moderate_simulators}
    Moderate Simulators
  %br
  %label.checkbox{:for => :moderate_benchmarks}
    %input{:type => :checkbox, :id => :moderate_benchmarks, :name => :moderate_benchmarks, :checked => system.moderate_benchmarks}
    Moderate Benchmarks
  %br
  %label.checkbox{:for => "moderate_accounts"}
    %input{:type => :checkbox, :id => :moderate_accounts, :name => :moderate_accounts, :checked => system.moderate_accounts}
    Moderate Accounts
  %br
  %input.button{:type => :submit, :value => "Save"}

.help
  This section lists accounts which were created but not yet active.
  These accounts cannot log into the system until you press the Activate button.

%h2
  Pending Accounts

- unless accounts.empty?
  %ul
  - accounts.each do |account|
    %li
      #{account.username}
      %form{:action => "/accounts/#{account.id}", :method => :post}
        %input{:type => :hidden, :name => "active", :value => "1"}
        %input.button{:type => :submit, :value => "Activate"}
- else
  None

.help
  This section lists pending objects requested by accounts on this system.
  Only when you press the install button will an object actually be realized,
  built, placed on the filesystem, and thus available to those to use.

%h2
  Pending Simulator Installs

- unless simulators.empty?
  %ul
  - simulators.each do |simulator|
    %li
      #{simulator.name}
      %form{:action => "/simulators/#{simulator.id}", :method => :post}
        %input{:type => :hidden, :name => "active", :value => "1"}
        %input.button{:type => :submit, :value => "Install"}
- else
  None

%h2
  Pending Benchmark Installs

- unless benchmarks.empty?
  %ul
  - benchmarks.each do |benchmark|
    %li
      #{benchmark.name}
      - if benchmark.dependencies_active?
        %form{:action => "/benchmarks/#{benchmark.id}", :method => :post}
          %input{:type => :hidden, :name => "active", :value => "1"}
          %input.button{:type => :submit, :value => "Install"}
      - else
        Requires: #{benchmark.first_inactive_dependency.name}
- else
  None
