%li.object{:class => "#{connection.creates_object_of_type} #{'base' if base} #{connection.co_runnable == 1 ? 'fifo' : ''}"}>
  .row
    %ul.connections
      = partial :"workflows/object", :locals => {:workflow => workflow, :base => false, :connection => connection, :object => connection.object, :recurse => false}
    .info
      .container.created
        .edge.top.left
        .edge.bottom.left
        .container-content
          %h3.type
            #{connection.creates_object_of_type}
          %h3.name
            { created }
          %ul.outputs
        .edge.top.right
        .edge.bottom.right
