%li.input.config>
  .container.input
    .container-content
      %form{:action => "/workflows/#{workflow.id}/connections", :method => :post, :name => :add_connection}
        - if object.inputs.any?
          %input{:name => :run_order, :type => :hidden, :value => run_order}
          %select.inputs{:name => :object_type, :"data-object-id" => object.id}
            - object.input_types.each do |input|
              %option{:value => input.object_type}
                #{input.object_type}
            - object.indirect_input_types.each do |input|
              %option{:value => input.object_type}
                #{input.object_type}
          %input.button{:name => :submit, :type => :submit, :value => "Update"}
          - if object.inputs.any?
            %select.objects{:name => :object, :"data-input-id" => object.inputs.first.id}
              - object.inputs.first.objects.select(:name, :id).each do |obj|
                %option{:value => obj.id} #{obj.name}
              - object.inputs.first.indirect_objects.select(:name, :id).each do |obj|
                %option{:value => obj.id} #{obj.name}
          %ul.outputs
            %li
              %input.button{:name => :submit, :type => :submit, :value => "Attach"}
