%li.new
  .container.input
    .container-content
      %ul.inputs
        %li
          %form{:action => "/workflows/#{workflow.id}/connections", :method => :post, :name => :add_connection}
            %select
              - Occam::Object.types.each do |type|
                %option
                  #{type}

            %select{:name => :object}
              - Occam::Object.names(Occam::Object.types.first).each do |object|
                %option{:value => object.id} #{object.name}
            %input{:name => :run_order, :type => :hidden, :value => 0}
            %input.button{:name => :submit, :type => :submit, :value => "Attach"}
