-# Workflow styling
- content_for :styles do
  %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/workflow.css'}

-# Workflow javascript
- content_for :scripts do
  %script{:src=>"/js/workflows.js"}

-# Workflow content
%ul#workflow
  %li.object
    .row
      %ul.connections
        %li.object
          .row
            %ul.connections
              %li.object
                .row
                  .info
                    .container
                      .edge.top.left
                      .edge.bottom.left
                      %h3
                        Name Aa
                      %ul.options
                        %li
                          %a.button{:href=>'#'}
                            Foo
                        %li
                          %a.button{:href=>'#'}
                            Bar
                      .edge.top.right
                      .edge.bottom.right
              %li.object
                .row
                  .info
                    .container
                      .edge.top.left
                      .edge.bottom.left
                      %h3
                        Name Ab
                      %ul.options
                        %li
                          %a.button{:href=>'#'}
                            Foo
                        %li
                          %a.button{:href=>'#'}
                            Bar
                      .edge.top.right
                      .edge.bottom.right
            .info
              .container
                .edge.top.left
                .edge.bottom.left
                %h3
                  Name A
                %ul.options
                  %li
                    %a.button{:href=>'#'}
                      Foo
                  %li
                    %a.button{:href=>'#'}
                      Bar
                .edge.top.right
                .edge.bottom.right
        %li.object
          .row
            .info
              .container
                .edge.top.left
                .edge.bottom.left
                %h3
                  Name B
                %ul.options
                  %li
                    %a.button{:href=>'#'}
                      Foo
                  %li
                    %a.button{:href=>'#'}
                      Bar
                .edge.top.right
                .edge.bottom.right
        %li.object
          .row
            .info
              .container
                .edge.top.left
                .edge.bottom.left
                %h3
                  Name C
                %ul.options
                  %li
                    %a.button{:href=>'#'}
                      Foo
                  %li
                    %a.button{:href=>'#'}
                      Bar
                .edge.top.right
                .edge.bottom.right
      .info
        .container
          .edge.top.left
          .edge.bottom.left
          %h3
            Name Base
          %ul.options
            %li
              %a.button{:href=>'#'}
                Foo
            %li
              %a.button{:href=>'#'}
                Bar
          .edge.top.right
          .edge.bottom.right
