-# Workflow styling
- content_for :styles do
  %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/workflow.css'}

-# Workflow javascript
- content_for :scripts do
  %script{:src=>"/js/workflows.js"}

-# Workflow content
%ul#workflow
  %li.object
    .row
      %ul.connections
        - workflow.tail_connections.each do |connection|
          = partial :"workflows/object", :locals => {:workflow => workflow, :base => false, :connection => connection, :object => connection.object, :recurse => true}
        - unless workflow.tail_connections.any?
          %li.object
            .row
              .info
                .container.input
                  .edge.top.left
                  .edge.bottom.left
                  .container-content
                    %form{:action => "/workflows/#{workflow.id}/connections", :method => :post, :name => :add_connection}
                      %select.inputs{:name => :object_type}
                        - Occam::Object.types.each do |type|
                          %option{:value => type}
                            #{type}

                      %select.objects{:name => :object}
                        - Occam::Object.names(Occam::Object.types.first).each do |object|
                          %option{:value => object.id} #{object.name}
                      %input{:name => :run_order, :type => :hidden, :value => 0}
                      %ul.options
                        %li
                          %input.button{:name => :submit, :type => :submit, :value => "Attach"}
                  .edge.top.right
                  .edge.bottom.right
      .info
        .container
          .edge.top.left
          .edge.bottom.left
          .container-content
            %h3
              Data
            %ul.options
              %li
                %a.button{:href=>'#'}
                  Schema
