%li.output.results>
  .container
    .container-content
      %h3.type
        Data
      %ul.outputs
        %li
          %a.button{:href => "/objects/#{object.id}/output_schema.json"}
            Schema
