-# Purpose: Displays a form to edit the system.
-#
-# Locals:  errors - A collection of errors that are passed when the form
-#                   is reloaded after a validation error. nil when no errors.
-#          system - The default or in-progress system object.

%h1
  - if system.persisted?
    Configuring
  - else
    Setting up
  %span.logo
    Occam

- if errors && !errors.empty?
  .errors
    %h2
      Errors
    %ul
      - errors.each do |error|
        %li
          = error[0]

%form.modal{:action => "/system", :method => :post, :name => :system_new}
  %label{:for => :simulators_path}
    Simulator Root Path
  %input{:type => :text, :id => :simulators_path, :name => :simulators_path, :value => system.simulators_path}
  %label{:for => :traces_path}
    Trace Root Path
  %input{:type => :text, :id => :traces_path, :name => :traces_path, :value => system.traces_path}
  %label{:for => :benchmarks_path}
    Benchmark Root Path
  %input{:type => :text, :id => :benchmarks_path, :name => :benchmarks_path, :value => system.benchmarks_path}
  %label{:for => :jobs_path}
    Job Root Path
  %input{:type => :text, :id => :jobs_path, :name => :jobs_path, :value => system.jobs_path}
  %input.button{:type => "submit", :value => (system.persisted? ? "Update" : "Create"), :name => :submit}
