- content_for :styles do
  %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/index.css'}

.header
  %img{:src => "/images/logo_large.svg"}

  .video
    .screen
      %img{:src => "/images/yt_placeholder_16_9.png"}
      .embed

- content_for :scripts do
  %script{:type => "text/javascript"}
    :plain
      $(function() {
        $('.embed').one('click', function(event) {
          $('.embed').append('<video style="width: 100%" controls><source src="/videos/demo-480.mp4" type="video/mp4"></video>');
        });
      });

.resizer
  .resizer-content
    %img{:src => "/images/yt_placeholder_16_9.png"}

.pillars
  %ul
    %li
      Infrastructure
    %li
      Education
    %li
      Community

.markdown
  :markdown
    **OCCAM** (Open Curation for Computer Architecture Modeling) is a project that will
    serve as the catalyst for the tools, education, and community-building needed to
    bring openness, accountability, comparability, and repeatability to computer
    architecture experimentation.

    ## Sponsors

    The OCCAM project is sponsored by Division of Computer and Network Systems, National Science Foundation, OCCAM: Open Curation for Computer Architecture Modeling, award number [CNS-1305220](http://www.nsf.gov/awardsearch/showAward?AWD_ID=1305220).

    OCCAM is an outcome of the [Workshop on a Community Supported Computer Architecture Design and Evaluation Framework](http://csa.cs.pitt.edu/) held in 2012, which was sponsored by Division of Computer and Communication Foundations, National Science Foundation, *Cyberinfrastructure for Computer Architecture Design and Evaluation*, award number [CCF-1148646](http://www.nsf.gov/awardsearch/showAward?AWD_ID=1148646).

    ![NSF](/images/sponsors/nsf.png)
