body .content {
}

.content .header {
  background-color: #103942;
  position: relative;
  width: 100%;
}

.content .header img {
  width: 100%;
}

.content .video {
  position: absolute;
  z-index: 2;
  top: 65%;

  left: 0;
  right: 0;

  margin: 0 auto;

  width: 100%;
}

.content .resizer {
  left: 0;
  right: 0;

  margin: 0 auto;

  width: 100%;
}

.content .resizer > .resizer-content ,
.content .video > .screen {
  position: relative;
  left: 0;
  right: 0;

  margin: 0 auto;

  max-width: 480px;
}

.content .resizer > .resizer-content {
  max-width: 380px;
}

.content .video > .screen {
  border: 20px solid #103942;
}

.content .resizer > .resizer-content > img ,
.content .video > .screen > img {
  max-width: 480px;
  width: 100%;
}

.content .resizer > .resizer-content > img {
  max-width: 380px;
}

.content .video .screen .embed {
  position: absolute;
  background-color: black;

  background-image: url('/images/occam-workflow-base.png');
  background-size: 100% 100%;

  top: 0px;
  left: 0px;

  cursor: pointer;

  max-width: 480px;
  width: 100%;
  height: 100%;
}

.content .video .screen .embed:hover {
  background-image: url('/images/occam-workflow.png');
}

.content .pillars {
}

.content .pillars ul {
  display: block;
  text-align: center;
  width: 100%;

  margin-bottom: 10px;
}

.content .pillars ul li {
  background: url('/images/pillar.png') no-repeat 50% 0;
  color: #777;
  display: inline-block;
  text-align: center;

  font-family: "Open Sans";
  font-weight: 700;
  font-size: 20px;

  padding-top: 74px;

  height: 40px;
  min-width: 200px;
  width: 30%;
}

.content .markdown {
  background-color: #103942;
  position: relative;
  width: 100%;
  color: #ccc;

  padding: 30px 0;
}

body .content {
  padding-bottom: 0;
  margin-bottom: 0;
}
