ul#results-errors li {
  list-style: disc inside;
  color: red;
  padding-left: 10px;
}

ul#results-warnings li {
  list-style: disc inside;
  color: hsl(50, 80%, 40%);
  padding-left: 10px;
}

#results-data > ul {
  padding-left: 10px;
}

#results-data ul ul {
  padding-left: 20px;
  margin-bottom: 15px;
}

#results-data ul.array {
  display: block;
}

ul.array > li {
  display: inline-block;
  margin-right: 10px;
}

ul.hash > li > span.key {
  font-family: "Alegreya Sans SC";
  font-weight: normal;
  margin-right: 10px;
  color: #444;
  color: hsl(190, 30%, 75%);
  cursor: pointer;

  color: hsl(190, 30%, 25%);
}

ul.hash > li > span.key {
}

.graph {
  background-color: #444;
  border: 1px solid #ccc;
  margin-top: 10px;
}

ul#graphs > li + li {
  margin-top: 20px;
}

#results-data span.expand {
  color: #aaa;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  width: 15px;
}

#results-data ul.array > li.element {
  position: relative;
}

#results-data ul.array > li.element > span.expand {
  position: absolute;
  top: 7px;
  left: 0;
}
