-# Purpose: Show all experiments
-#
-# Locals:  experiments - A list of experiments.
-#          tags        - A list of tags.
-#          tag         - Current tag we are filtering with


%h1.experiment
  .icon.experiment<
  .statistics
    %ul
      %li.count
        %span.units
          count
        %span.value
          #{Occam::Experiment.count}
  .name<
    Experiments
  .description<
    The experiments known to this OCCAM system

%ul.tags
  - tags.each do |tag|
    %li.tag
      %a{:href => "/experiments?tag=#{tag}"}
        = tag

.help
  %p
    %strong
      Experiments
    are typically one-time runs of a simulation. They are useful for
    tweaking values or doing practice runs.
    %a{:href => "/worksets"}<
      %strong<
        Worksets
    are a collection of experiments and are much better suited for
    running a series of different configurations or running upon
    different benchmarks.

%ul.image-list
  %li.add
    %a{:href=>"/worksets/new", :title => "New Workset"}
      Create a new Workset
  %li.add
    %a{:href=>"/experiments/new", :title => "New Experiment"}
      Create a new Experiment

%h2
  - if tag
    = "Tag: #{tag}"
  - else
    By Name

%ul#experiments.diamond-list
  - experiments.each do |experiment|
    %li
      %a{:href => "/experiments/#{experiment.id}"}
        = experiment.name
