-# Purpose: Displays a form to create a new experiment
-#
-# Locals: errors     - A collection of errors that are passed when the form
-#                      is reloaded after a validation error. nil when no errors.
-#         experiment - The default or in-progress experiment object.
-#         simulators - The list of names of simulators available.

%h1
  - if experiment.persisted?
    Update this experiment
  - elsif forked_from
    Forking "#{forked_from.name}"
  - else
    Create a new experiment

- if errors
  .errors
    %h2
      Errors
    %ul
      - errors.each do |error|
        %li
          = error[0]

- if simulator.nil? && simulators.empty?
  %p
    There are no simulators active on the system. Please
    = succeed('.') do
      %a{:href => "/simulators/new"}<
        Add one
- else
  %form.modal{:action => "/experiments", :method => :post, :name => :experiments_new}
    - if workset
      %input{:type => "hidden", :id => :workset, :name => :workset, :value => workset.id}
      %ul.image-list
        %li.workset
          Adding to #{workset.name}
    - if recipe
      %input{:type => "hidden", :id => :recipe, :name => :recipe, :value => experiment.recipe_id}
      %ul.image-list
        %li.recipe
          Based on #{recipe.name}
    - if forked_from
      %input{:type => "hidden", :id => :forked_from, :name => :forked_from, :value => forked_from.id}
      %ul.image-list
        %li.fork
          Forking from #{forked_from.name}
    %label{:for => :name}
      name
    %input{:type => "text", :id => :name, :name => :name, :value => experiment.name}
    %label{:for => :simulator}
      simulator
    - if simulator
      %ul.diamond-list
        %li
          = simulator.name
      %input{:name => "simulator", :type => "hidden", :value => simulator.id}
    - else
      %select{:name => "simulator"}
        - simulators.each do |simulator|
          %option{:value => simulator.id}
            = simulator.name
    %label{:for => :tags}
      tags
    %input.tagged.autocomplete{:type => "text", :"data-source" => "/experiments/tags", :id => :tags, :name => :tags, :value => experiment.tags}
    %input.button{:type => "submit", :value => (experiment.persisted? ? "Update" : "Create"), :name => :submit}
