-# Purpose: Displays the profile for the specified experiment
-#
-# Locals:  experiment  - The particular Experiment to view
-#          simulator   - The Simulator this experiment runs with
-#          forked_from - The Experiment that this experiment was cloned from.
-#          account     - The account that created this experiment.
-#          recipe      - The Recipe this Experiment was based upon.
-#          workset     - The Workset this Experiment is collected within.

- content_for :styles do
  %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/configuration.css'}

- content_for :scripts do
  %script{:type => "text/javascript", :src => "/js/terminal.js"}

%h1.experiment
  .icon.experiment<
  .statistics
  .name<
    = experiment.name
  .parent<
    %span.black
      within
    - if group
      %a{:href => "/worksets/#{workset.id}/groups/#{group.id}"}<
        = group.name
      %span.black
        in
    %a{:href => "/worksets/#{workset.id}"}<
      = workset.name

%ul.account.image-list
  %li.person
    Created by
    - if account
      %a{:href => "/accounts/#{account.id}"}
        #{account.username}
    - else
      anonymous

- if recipe
  %ul.image-list
    %li.recipe
      Based on
      %a{:href => "/recipes/#{recipe.id}"}
        #{recipe.name}

- if forked_from
  %ul.image-list
    %li.forked_from.fork
      Forked from
      %a{:href => "/experiments/#{forked_from.id}"}
        #{forked_from.name}

%ul.image-list
  %li.fork
    %a{:href => "/experiments/#{experiment.id}/fork"}
      Fork this experiment

- if forked_us && !forked_us.empty?
  %h2
    Forks
  %ul.image-list.forked_us
    - forked_us.each do |forked_experiment|
      %li.fork
        %a{:href => "/experiments/#{forked_experiment.id}"}
          #{forked_experiment.name}

%h2 Workflow

- if (workflow && workflow.connections.empty?) && (workset.workflow.connections.empty?)
  .help
    :markdown
      A **workflow** describes which objects are involved with running experiments within this *group*.

= partial :"workflows/show", :locals => {:workflow => workflow, :workflows => [group.workflow, workset.workflow]}

- [workflow, group.workflow, workset.workflow].each do |workflow|
  - workflow.connections.each do |connection|
    %h2 #{connection.object.name} options
    - if connection.object.binaries.any?
      .configuration-search-options
        = render_binary_form(connection.object, connection.id)
    .configuration-search-options
      - if configuration.has_key? connection.id.to_s
        = render_config(connection.object.input_schema, configuration[connection.id.to_s], false)

%h2 Status

%ul.job.table#experiment_progress
  %li.row
    .cell
      Status
    - if job.nil?
      .cell.idle
        Not Queued
    - elsif job.status == :queued
      .cell.idle
        Queued
    - elsif job.status == :running
      .cell.running
        Running
    - elsif job.status == :failed
      .cell.failed
        Failed
    - elsif job.status == :finished
      .cell.finished
        Finished
  %li.row
    .cell
      Time
    .cell
      0:00
  %li.row
    .cell
      Memory
    .cell
      0MB
  %li.row
    .cell
      Commands
    .cell
      %a{:href=>"/experiments/#{experiment.id}/run"}Run
      |
      %a{:href=>"/experiments/#{experiment.id}/cancel"}Cancel

- if job_info && job_info["job_log"]
  %h2
    Latest Worker Output
  %pre#worker-output
    #{job_info["job_log"]}

- if job_info && job_info["output_log"]
  %h2
    Latest Simulator Output
  %pre#run-output
    #{job_info["output_log"]}

%h2
  Results

- if experiment.results.nil?
  %p
    No results to show.
- else
  %ul.image-list
    %li.results
      %a{:href=>"/experiments/#{experiment.id}/results"}<
        View

%h2 Tags

%ul.tags
  - experiment.tags[1..-1].split(";").each do |tag|
    %li.tag
      %a{:href => "/experiments?tag=#{tag}"}
        = tag
