-#  Purpose:     Displays a search form for simulators only
-#
-#  Locals:

- unless request.xhr?
  %h1
    Search Simulators

%form.modal{:action => "/search/simulators", :method => :post}
  %h2
    name
  %input{:type => "text", :id => "name", :name => "name"}
  %h2
    description
  %input{:type => "text", :id => "description", :name => "name"}
  %h2
    website
  %input{:type => "text", :id => "website", :name => "website"}
  %h2
    organization
  %input{:type => "text", :id => "organization", :name => "organization"}
  %h2
    license
  %input{:type => "text", :id => "license", :name => "license"}
  %h2
    authors
  %input{:type => "text", :id => "author-search", :name => "authors"}
  %h2
    tags
  %input{:type => "text", :id => "tag-search", :name => "tags"}

  %br
  %input.button{:type => "submit", :value => "Search"}
