-# Purpose: Displays a form to create a new set of experiments
-#
-# Locals: errors     - A collection of errors that are passed when the form
-#                      is reloaded after a validation error. nil when no errors.
-#         experiment - The default or in-progress experiment object.
-#         simulators - The list of names of simulators available.

- content_for :styles do
  %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/configuration.css'}

- content_for :scripts do
  %script{:src=>"/js/parsley/parsley.min.js"}
  %script{:src=>"/js/validation.js"}
  %script{:src=>"/js/dramsim2.js"}
  %script{:src=>"http://mbostock.github.com/d3/d3.js"}

%h1.group
  .icon.group<
  .statistics
  .name<
    Describe Ranges
  .parent<
    %span.black
      within
    %a{:href => "/worksets/#{workset.id}"}<
      = workset.name

= partial :errors, :locals => {:errors => errors}

- if workflow.nil? && simulators.empty?
  %p
    There are no objects active on the system. Please
    = succeed('.') do
      %a{:href => "/objects/import"}<
        Add one
- else
  - if workflow
    %h2
      Workflow
    = partial :"workflows/show", :locals => {:workflow => workflow, :workflows => [workflow]}
  %form.modal{:action => "/worksets/#{workset.id}/groups/#{group.id}", :method => :post, :name => :groups_add_range}
    - if workset
      %input{:type => "hidden", :id => :workset, :name => :workset, :value => workset.id}
    - if workflow
      %input{:name => :workflow, :type => "hidden", :value => workflow.id}
    %label{:for => :name}
      name
    %input{:type => "text", :id => :name, :name => :name, :value => group.name}
    %label{:for => :tags}
      tags
    %input.tagged.autocomplete{:type => "text", :"data-source" => "/experiments/tags", :id => :tags, :name => :tags, :value => experiment.tags}

    .help
      %p
        Use ranged options to create a set of experiments.
      %p
        Type
        %code
          1 to 4
        in a field to sweep an option and create an experiment for each valid value in that range.
    - if workflow
      - workflow.connections.each do |connection|
        %h2 #{connection.object.name} options
        - if connection.object.binaries.any?
          .configuration-search-options
            = render_binary_form(connection.object, connection.id)
        .configuration-search-options
          = render_ranged_form({}, connection.object.input_schema, {}, connection.object, connection.id)
    .bus-and-channel-controls
    .dramsim2-embed5
    .viz
    .cpu
    .timing-chart
    .power-chart
    .pop-ups-and-inputs
    %input.button{:type => "submit", :value => "Create", :name => :submit}
