-# Purpose: Displays the profile for the specified Group
-#
-# Locals:  workset       - The particular Workset this group belongs to.
-#          group  - The particular Group to show.
-#          simulator     - The Simulator this Group runs with.
-#          experiments   - All Experiments that are part of this Group.
-#          forked_from   - The Group that this Group was cloned from.
-#          account       - The Account that created this Group.

%h1.group
  .icon.group<
  .statistics
    %ul
      %li.experiments
        %span.units
          experiments
        %span.value
          = group.experiments.count
  .name<
    = group.name
  .parent<
    %span.black
      within
    %a{:href => "/worksets/#{workset.id}"}<
      = workset.name

%ul.account.image-list
  %li.person
    Created by
    - if account
      %a{:href => "/accounts/#{account.id}"}
        #{account.username}
    - else
      anonymous

- if forked_from
  %ul.image-list
    %li.forked_from.fork
      Forked from
      %a{:href => "/worksets/#{workset.id}/groups/#{forked_from.id}"}
        #{forked_from.name}

- if forked_us && !forked_us.empty?
  %h2
    Forks
  %ul.image-list.forked_us
    - forked_us.each do |forked_group|
      %li.fork
        %a{:href => "/worksets/#{workset.id}/groups/#{forked_group.id}"}
          #{forked_group.name}

%h2 Workflow

- if (workflow && workflow.connections.empty?) && (workset.workflow.connections.empty?)
  .help
    :markdown
      A **workflow** describes which objects are involved with running experiments within this *group*.

      Currently, no objects are specified from either this group or inherited through the workset. This means that you cannot create a new experiment within this group. You must specify at least one object in your workflow.

= partial :"workflows/show", :locals => {:workflow => workset.workflow, :workflows => [workset.workflow]}

%h2
  Experiments

- if experiments.empty?
  .help
    :markdown
      **Experiments** are any single run of your workflow. For instance, they can be a single run of a benchmark with some simulator. *Groups* are a collection of such runs. The listing of the experiments, their results, and actions to restart or graph those results will appear here.

      You can either add experiments one-by-one by selecting **Add Experiment** or you may elect to have the group automatically manage a collection of experiments by giving it a configuration where some options are either sets of values or a range of values.

%ul.groups
  - experiments.each do |experiment|
    %li.experiment
      %span.name
        %a{:href => "/experiments/#{experiment.id}"}
          #{experiment.name}
      - if experiment.job.nil?
        %span.status.unqueued
          unqueued
      - elsif experiment.job.status == :queued
        %span.status.queued
          queued
      - elsif experiment.job.status == :running
        %span.status.running
          running
      - elsif experiment.job.status == :failed
        %span.status.failed
          failed
      - elsif experiment.job.status == :finished
        %span.status.finished
          finished
      %span.graph-builder
        - if workset.can_edit?(current_account)
          - if experiment.results?
            %a.button{:href => "/experiments/#{experiment.id}/graph/new"}
              new graph
          - else
            %a.button.disabled
              new graph
      %span.results
        - if workset.can_view?(current_account)
          - if experiment.results?
            %a.button{:href => "/experiments/#{experiment.id}/results"}
              results
          - else
            %a.button.disabled
              results
      %span.command
        - if workset.can_edit?(current_account)
          - if experiment.job && (experiment.job.status == :queued || experiment.job.status == :running)
            %a.button{:href => "/experiments/#{experiment.id}/cancel"}
              stop
          - elsif experiment.job && experiment.job.status == :failed
            %a.button{:href => "/experiments/#{experiment.id}/run"}
              restart
          - elsif experiment.job && experiment.job.status == :finished
            %a.button{:href => "/experiments/#{experiment.id}/run"}
              repeat
          - else
            %a.button{:href => "/experiments/#{experiment.id}/run"}
              run

%ul.buttons
  - if workset.can_edit?(current_account)
    - if group.experiments.any?
      - if not group.has_configuration?
        %li
          %span.action
            %a.button{:href => "/worksets/#{workset.id}/groups/#{group.id}/experiments/new"}
              Add Experiment
      - else
        %li
          %span.action
            %a.button{:href => "/worksets/#{workset.id}/groups/#{group.id}/new_range"}
              Edit Configuration Range
      %ul.buttons
        %li
          %span.action
            %a.button{:href => "/worksets/#{workset.id}/groups/#{group.id}/run"}
              Run all
        %li
          %span.action
            %a.button{:href => "/worksets/#{workset.id}/groups/#{group.id}/cancel"}
              Stop all
    - if (workflow && workflow.connections.empty?) && (workset.workflow.connections.empty?)
    - elsif not group.has_configuration?
      %li
        %span.action
          %a.button{:href => "/worksets/#{workset.id}/groups/#{group.id}/add_range"}
            Build From Configuration Range
      %li
        %span.action
          %a.button{:href => "/worksets/#{workset.id}/groups/#{group.id}/experiments/new"}
            Add Experiment

%h2 Tags

%ul.tags
  - group.tags[1..-1].split(";").each do |tag|
    %li.tag
      %a{:href => "/experiments?tag=#{tag}"}
        = tag
