-# Graph Builder application.
-#
-# Locals: experiments - An array of experiments that make up the group.
-#         data        - Initial data for the first experiment.

- content_for :styles do
  %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/results.css'}
  %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/graph.css'}
  %link{:rel => 'stylesheet', :type => 'text/css', :href => '/js/nv/nv.d3.css'}
  %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/graph_builder.css'}

.graph-panel
  #command-bar
    .logo
      Graph-Builder
    %ul
      %li#save-button{:"data-target" => "/worksets/#{workset.id}/graphs"}>
        %a{:href => "#"}
          Save
      %li#undo-button>
        %a{:href => "#"}
          Undo
      %li#close-button>
        %a{:href => "/worksets/#{workset.id}"}
          Close
  #graph-type-bar
    %ul#graph-type-options
  #graph.graph
  #graph-options
    %ul.options
      %li.option.global
        %label{:for => :title}
          Title
        .one
          %input#title-input{:type => "text", :name => :title}<
      %li.option.global
        %label{:for => :"domain-x-min"}<
          X Domain
        .two<
          %input{:type => "text", :name => :"domain-x-min"}<
          %input{:type => "text", :name => :"domain-x-max"}<
      %li.option.global
        %label{:for => :"domain-y-min"}<
          Y Domain
        .two<
          %input{:type => "text", :name => :"domain-y-min"}<
          %input{:type => "text", :name => :"domain-y-max"}<
      %li.option.global
        %label{:for => :title}
          Foobar
        .one
          %input{:type => "range", :name => :title}
      %li.option.global
        %label{:for => :title}
          Foobar
        .one
          %input{:type => "checkbox", :name => :title}
.results-panel
  #results-bar
    %ul
      - experiments.each_with_index do |experiment, i|
        - if i == 0
          %li.active{:"data-experiment-id" => experiment.id, :"data-object-id" => object.id}>
            #{experiment.name}
        - else
          %li{:"data-experiment-id" => experiment.id, :"data-object-id" => object.id}>
            #{experiment.name}
  #results-data
    - experiments.each_with_index do |experiment, i|
      - if i == 0
        .data.active.loaded{:"data-experiment-id" => experiment.id, :"data-object-id" => object.id}
          #{render_data(data, schema['data'])}
      - else
        .data{:"data-experiment-id" => experiment.id, :"data-object-id" => object.id}

- content_for :scripts do
  %script{:src => "http://code.highcharts.com/highcharts.js", :type => "text/javascript"}
  %script{:src => "http://code.highcharts.com/highcharts-3d.js", :type => "text/javascript"}
  %script{:src => "http://code.highcharts.com/modules/exporting.js", :type => "text/javascript"}
  %script{:src=>"/js/nv.d3.min.js"}
  %script{:src=>"/js/occam-viz/occamViz.min.js"}
  %script{:src=>"/js/graph_builder.js", :type => "text/javascript"}
