- content_for :styles do
  %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/results.css'}
  %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/graph_builder.css'}

.results-panel
  #results-bar
    %ul
      - experiments.each_with_index do |experiment, i|
        - if i == 0
          %li.active{:"data-experiment-id" => experiment.id, :"data-object-id" => object.id}>
            #{experiment.name}
        - else
          %li{:"data-experiment-id" => experiment.id, :"data-object-id" => object.id}>
            #{experiment.name}
  #results-data
    - experiments.each_with_index do |experiment, i|
      - if i == 0
        .data.active.loaded{:"data-experiment-id" => experiment.id, :"data-object-id" => object.id}
          #{render_data(data, schema['data'])}
      - else
        .data{:"data-experiment-id" => experiment.id, :"data-object-id" => object.id}

- content_for :scripts do
  %script{:src => "http://code.highcharts.com/highcharts.js", :type => "text/javascript"}
  %script{:src => "http://code.highcharts.com/highcharts-3d.js", :type => "text/javascript"}
  %script{:src => "http://code.highcharts.com/modules/exporting.js", :type => "text/javascript"}
  %script{:src=>"/js/nv.d3.min.js"}
  %script{:src=>"/js/occam-viz/occamViz.min.js"}
  %script{:src=>"/js/graph_builder.js", :type => "text/javascript"}
