-# Purpose: Displays a form to create a new account
-#
-# Locals: errors - A collection of errors that are passed when the form
-#                  is reloaded after a validation error. nil when no errors.

%h1
  Create a new account

- if errors
  .errors
    %h2
      Errors
    %ul
      - errors.each do |error|
        %li
          = error[0]

%form.center.modal{:action => "/accounts", :method => :post, :name => :accounts_new}
  %label{:for => :username}
    username
  %input.short{:type => "text", :id => :username, :name => :username}
  %label{:for => :password}
    password
  %input.short{:type => "password", :id => :password, :name => :password}
  .submit
    %input.button{:type => "submit", :value => "Sign Up", :name => :submit}
