-# Purpose: Displays the profile for the specified account
-#
-# Locals:  account        - The particular Account to view
-#          experiments    - The experiments this account owns
-#          collaborations - The worksets this account is collaborating upon
-#          worksets       - The worksets this account owns
-#          jobs           - Running jobs this account owns

%h1.account
  .icon.account<
    %img.avatar{:src => account.avatar_url(96)}
  .roles<
    %ul
      - account.get_roles.each do |role|
        %li{:class => role}
          #{role}
  .name<
    = account.name
  - if !account.organization.blank?
    .organization<
      = account.organization

- if !account.bio.blank?
  .bio.description
    :markdown
      #{account.bio}

- if current_account && account.id == current_account.id
  %p.edit-profile-link
    %a.edit-profile{:href => "/accounts/#{current_account.id}/edit"}
      Edit Profile

%h2
  Worksets

- if worksets.empty? && collaborations.empty?
  - if account.id == current_account.id
    .help
      %p
        %a{:href => "/experiments"}<
          %strong<
            Experiments
        are typically one-time runs of a simulation. They are useful for
        tweaking values or doing practice runs.

        %a{:href => "/worksets"}<
          %strong<
            Worksets
        are a collection of experiments and are much better suited for
        running a series of different configurations or running upon
        different benchmarks.
    %p
      You have no worksets.&nbsp;
      %a{:href => "/worksets/new"}>Create a new workset
      \.
  - else
    %p
      They have no worksets.

- if account.id == current_account.id
  .add-group
    %span.input
      %form{:action => "/worksets", :method => :post}
        %input{:type=>'text', :name => 'name'}
    %span.description
      Add a new workset

%ul#worksets
  - worksets.each do |workset|
    - if workset.can_view? current_account
      %li
        %h3.name
          %a.link{:href => "/worksets/#{workset.id}"}
            = workset.name
        .info
          .description
            %p
              #{workset.description}
          .statistics
            %ul
              %li.collaborators
                %span.value
                  = workset.collaborations.count + 1
                %span.units
                  collaborators
              %li.groups
                %span.value
                  = workset.groups.count
                %span.units
                  groups
              %li.experiments
                %span.value
                  = workset.experiments.count
                %span.units
                  experiments
              %li.forks
                %span.value
                  = workset.experiments.count
                %span.units
                  forks
  - collaborations.each do |workset|
    - if workset.can_view? current_account
      %li
        %h3.name
          %a.link{:href => "/worksets/#{workset.id}"}
            = workset.name
        .info
          .description
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          .statistics
            %ul
              %li.collaborators
                %span.value
                  = workset.collaborations.count + 1
                %span.units
                  collaborators
              %li.groups
                %span.value
                  = workset.groups.count
                %span.units
                  groups
              %li.experiments
                %span.value
                  = workset.experiments.count
                %span.units
                  experiments
              %li.forks
                %span.value
                  = workset.experiments.count
                %span.units
                  forks
