-# Blah

- content_for :styles do
  %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/configuration.css'}

- content_for :scripts do
  %script{:src=>"/js/parsley/parsley.min.js"}
  %script{:src=>"/js/validation.js"}

%h1
  Configuration

%h2
  %ul.header_bar
    %li>
      %a#collapse_all_link{:href=>'javascript:void(0)'}
        Collapse All
    %li>
      %a#expand_all_link{:href=>'javascript:void(0)'}
        Expand All
  #{object.name} Parameters

%form.configure{:action => "/experiments/#{experiment.id}/configuration", :method => :post}
  = render_form(data, schema, 'data', nil, false, false, recipes, '', object)
  %input.button{:type=>"submit", :value => "Build"}
  %a.button{:href => "/experiments/#{experiment.id}"}
    Cancel
