-# Blah

- content_for :styles do
  %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/configuration.css'}

%h1{:class => object.type}
  .icon{:class => object.type}<
  .statistics
    %ul
      %li.worksets
        %span.units
          worksets
        %span.value
          0
      %li.experiments
        %span.units
          experiments
        %span.value
          0
  .name<
    = object.name
  .organization<
    - if recipe.nil?
      Default Configuration
    - else
      #{recipe.name} Configuration

%h2
  #{object.name} Parameters

= render_config(schema)
