%h1.import
  .icon.import<
  .name<
    Import
  .organization<
    Import an object into this OCCAM system

= partial :errors, {:locals => {:errors => errors}}

%form.modal{:action => "/objects/import", :method => :post, :name => :import}
  %label{:for => :name}
    URL
  %input{:type => "text", :id => :url, :name => :url, :value => default_url}
  .submit
    %input.button{:type => "submit", :value => "Import", :name => :submit}
