-# Purpose: Displays an imported simulator
-#
-# Locals: errors     - A collection of errors that are passed when the form
-#                      is reloaded after a validation error. nil when no errors.
-#         simulator - The default or in-progress simulator object.

%h1.import
  .icon.import<
  .name<
    Import #{simulator.name}
  .organization<
    Import this object into this OCCAM system

- if errors && !errors.empty?
  .errors
    %h2
      Errors
    %ul
      - errors.each do |error|
        %li
          = error[0]

%h2
  To Be Installed

%ul
  %li
    #{simulator.name}
  - dependencies.each do |dep|
    %li
      dep.name

%form.modal{:action => "/simulators", :method => :post, :name => :simulators_new}
  .submit
    %input.button{:type => "submit", :value => "Install", :name => :submit}
  %input{:type => "hidden", :id => :name, :name => :name, :value => simulator.name}
  %input{:type => "hidden", :id => :script_path, :name => :script_path, :value => simulator.script_path}
  %input{:type => "hidden", :id => :binary_path, :name => :binary_path, :value => simulator.binary_path}
  %input{:type => "hidden", :id => :package_type, :name => :package_type, :value => simulator.package_type}
  %input{:type => "hidden", :id => :description, :name => :description, :value => simulator.description}
  %input{:type => "hidden", :id => :website, :name => :website, :value => simulator.website}
  %input{:type => "hidden", :id => :organization, :name => :organization, :value => simulator.organization}
  %input{:type => "hidden", :id => :license, :name => :license, :value => simulator.license}
  %input{:type => "hidden", :id => :authors, :name => :authors, :value => simulator.authors}
  %input{:type => "hidden", :id => :tags, :name => :tags, :value => simulator.tags}

= partial(:"objects/show", {:locals => {:plural => "simulators", :install_job_info => nil, :job_info => nil, :install_job => nil, :job => nil, :object => simulator}})
