-# Purpose: Displays the profile for the specified object
-#
-# Locals:  object - The particular object to view.
-#          job    - A job record for the object build.

- content_for :scripts do
  %script{:type => "text/javascript", :src => "/js/terminal.js"}

%h1{:class => object.type}
  .icon{:class => object.type}<
  .statistics
    %ul
      %li.worksets
        %span.units
          worksets
        %span.value
          0
      %li.experiments
        %span.units
          experiments
        %span.value
          0
  .name<
    = object.name
  .organization<
    = object.organization

= partial(:"objects/show", {:locals => {:plural => "simulators", :object => object, :install_job => install_job, :job => job, :install_job_info => install_job_info, :job_info => job_info, :recipes => recipes}})
