-# Purpose: Show all objects of a certain type
-#
-# Locals:  objects - A list of objects of this type
-#          type    - The type of object for this listing
-#          tags    - A list of tags for this type
-#          tag     - Current tag we are filtering with

%h1{:class => type}
  .icon{:class => type}<
  .statistics
    %ul
      %li.count
        %span.units
          count
        %span.value
          #{Occam::Object.where(:object_type => type).count}
  .name<
    #{type.pluralize.capitalize}
  .organization<
    The #{type} objects known to this OCCAM system

%ul.tags
  - tags.each do |tag|
    %li.tag
      %a{:href => "/objects/types/#{type}?tag=#{tag}"}
        = tag

%ul.image-list
  %li.add
    %a{:href=>"/objects/import"}
      Import a new #{type}

%h2
  - if tag
    Listing all by tag: #{tag}
  - else
    Listed by Name

%ul{:class => type}
  - objects.each do |object|
    %li
      %h2
        %a{:href => "/objects/#{object.id}"}
          #{object.name}
      .description
        :markdown
          #{object.description}
      - if object.tags.length > 1
        %ul.tags
          - object.tags[1..-1].split(";").each do |tag|
            %li.tag
              %a{:href => "/objects/types/#{type}?tag=#{tag}"}
                #{tag}
