-# Purpose: Displays a form to sign in
-#
-# Locals:  none

%h1
  Sign in

- if errors
  .errors
    %h2
      Errors
    %ul
      - errors.each do |error|
        %li
          = error[0]

%form.modal{:action => "/login", :method => :post, :name => :sessions_login}
  %label{:for => :username}
    username
  %input.short{:type => "text", :id => :username, :name => :username}
  %label{:for => :password}
    password
  %input.short{:type => "password", :id => :password, :name => :password}
  .submit
    %input.button{:type => "submit", :value => "Sign in", :name => :submit}
